{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock%}</title>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <div class="container-fluid">
          <!-- <a class="navbar-brand logo" href="javascript:void(0)"><img src="{% static 'logo.png' %}" alt=""></a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link lin" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link lin" href="">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link lin" href="/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link lin" href="/contact">Contact</a>
              </li>
            </ul>
            {% if "user" not in request.session  %}

            <a href="/registration"><button class="btn btn1" type="button">Sign Up</button></a>
              <a href="/login"><button class="btn btn2" type="button">Log In</button></a>
              {% else %}
              <a href="/logout"><button class="btn btn3" type="button">Log Out</button></a>
              {% endif %}
              <div class="box mx-1">
              <a href="/profile" class="link"><i class="bi-person-circle icon1"><span class="profile mx-1"></span></i></a></div>
              <div class="box mx-1">
                <a href="/cart" class="link"><i class="bi-cart4 icon1"><span class="profile mx-1"></span></i></a></div>
            
          </div>
        </div>
      </nav>




      <!-- <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="my-3">
                        <a href="/">Home</a>
                        <a href="/about">About</a>
                        <a href="/products">Products</a>
                        <a href="/services">Services</a> 
                        <a href="/contact">Contact</a>  

                        {% if "user" not in request.session  %}

                        <a href="/registration">Registration</a>
                        <a href="/login">Login</a>

                        {% else %}

                        <a href="/myaccount">Account</a>
                        <a href="/logout">Logout</a>

                        {% endif %}

                        <a href="/addproduct">Add Products</a>
                        <a href="/addcategory">addcategory</a>
                        <a href="/profile">Profile</a> -->


                    <!-- </div> -->

                    {% block content %}{% endblock %}
                <!-- </div>
            </div>
        </div>
    </section> -->
</body>
</html>