body{
    color: rgb(85, 7, 7);
}
.box{
    border-color: rgb(242, 243, 244);
    width: 50px;
    text-align: center;
}
/* .logo{
    height: 5px;
    width: 5%;
} */
.link{
    color: rgb(250, 245, 245);
    text-decoration: none;
}

.link:hover{
    color: rgb(181, 179, 179);
    text-decoration: none;
}
.lin{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.lin:hover{
    color: rgb(197, 192, 192);
}
.icon1{
    padding: 2%;
    font-size: 25px;
}
.profile{
    font-size: 18px;
    font-style: normal;
}

#search{
    margin-top: 2%;
}
.btn1{
    padding: 6%;
    width: 100px;
    background-color: rgb(154, 193, 234);
    margin-right: 5px;
    color: white;
}
.btn1:hover{
    background-color: rgb(116, 174, 231);
    color: white;
}
@media(max-width:984px){
    .btn1,.btn2{
        padding: 5px;
    }
}
.btn2{
    margin-left:5px;
    width: 80px;
    background-color: rgb(153, 197, 244);
    color: white;
}
.btn2:hover{
    background-color: rgb(116, 174, 231);
   color: white;
}

.btn3{
    margin: 2%;
    width: 100px;
    background-color: rgb(160, 200, 243);
    color: white;

}
.btn3:hover{
    background-color: rgb(116, 174, 231);
    color: white;
}
.btns{
   margin-top: 2%;
   background-color: rgb(69, 153, 243);
   color: white;
}
.btns:hover{
   background-color: rgb(11, 112, 229);
   color: white;

}
.probox{
    min-height: 200px;
    padding: 15px;
    color:rgb(25, 123, 227);
    border: solid;
    border-width: thin;
}
.head{
    text-decoration: none;
}
img.proimage{
    width: 100%;
}
.active{
    text-decoration: none;
    font-size: 20px;
    color: black;
   
}
.sidebar{
    border: solid;
    border-width: thin;
    border-color: rgb(230, 230, 231);
    width: 170px;
    padding: 5% 2%;
}

.catbox{
    min-height: 200px;
    padding: 15px;
    color:brown;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    border: solid;
    border-width: thin;
}

img.catimage{
    max-width: 100%;
    max-height: 300px;
}

#cart{
    text-align: center;
}
.mainbox{
    border: solid;
    border-color: rgb(189, 192, 194);
}

.inbox2{
    padding: 10% 2%;
  
}
.inbox3{
  padding: 10% 2%;
    text-align: center;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
.icon2{
    color: black;
    font-size: 20px;
}
.icon2:hover{
    color: rgb(183, 182, 182);
    font-size: 20px;
}
.para2{
    font-size: 20px;
    font-weight: bold;
  }
.para3{
  font-size: 17px;
  font-weight: bold;
}
.para4{
    font-size: 15px;
  }
.image{
  width: 50%;
}

